.chart{
  display: flex;
  flex-direction: row;

  .content {
    display: flex;
    flex-direction: column;

    .view-chart {
      width: 92%;
      margin: 2rem 0 0 3rem;
      background-color: white;
      border-radius: 0.5rem;
      padding: 2rem;
    }

    .tab-view {
      width: 92%;
      margin: 2rem 0 0 3rem;
    }
  }
}