.chart{
  display: flex;
  flex-direction: row;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;

    .view-chart {
      width: 90%;
      margin: 2rem 0 0 3.7rem;
      background-color: white;
      border-radius: 0.5rem;
      padding: 2rem;
    }

    .tab-view {
      width: 90%;
      margin: 2rem 0 0 3.7rem;
      border-radius: 0.5rem;
    }
  }
}