.content{
  width: 78%;
  background-color: #eeeeee;

  .title-header {
    margin: 1rem 0 0 2.7rem;
    background-color: white;
    width: 25%;
    border-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
  }
}