.content{
  width: 78%;
  background-color: #eeeeee;

  .header {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 0.5rem 0 0 1.8rem;
    border-radius: 0.5rem;

    .header-title {
      margin-left: 1rem;
      font-size: 1.75rem;
    }

    img {
      height: 4rem;
      width: 15%;
      margin-right: 2rem;
    }
  }
}